
/*HEADER*/
body {
   background-color: rgb(63, 63, 63);
}

.logo {

   color: black;
   font-size: 50px;
   background-color: white;
   text-decoration: none;

}
html {
   overflow: hidden;
}
header
{
   z-index: 1000;
   background: #000000;
   width: 100vw;
   min-width:  800px; /* Минимальная  ширина */
   position: relative;
   right: 20px;
   bottom: 20px;
   padding: 10px;  /* Поля вокруг текста */

   height: auto;
   margin: 0 auto;
}

.header-ul {
   list-style:  none;
   margin:  -10px;
   padding: 20px;
}
.Categories {
   color: white;
   font-size: 40px;
   font-family: 'Montserrat', sans-serif;
   padding: 50px ;
   text-decoration: none;
}

.Categories:hover
{
   color: rgb(161, 161, 255);
}

header ul li
{
display: inline;
}


/* MENU-BODY*/

.menu-name {
   color: white;

   width: 10%;
   font-family:  'Montserrat', sans-serif;
   margin: 150px 50px 50px 50%;
   font-size: 40px;



}
.menu-container {
   color: white;
   font-family:  'Montserrat', sans-serif;
   margin: 100px 50px 50px 40%;
   list-style:  none;
   padding: 20px;

   max-width: 500px;
   background-color: rgba(9,9,9,0.21);
}
.Menu-Element {
   color: white;
   font-size: 50px;
   margin: 0px 0px 0px 11rem;
   text-decoration: none;
}
.name {

   color: white;
   font-family:  'Montserrat', sans-serif;
   margin: 0px 0px 0px 40%;
   padding: 10px;
   font-size: 50px;

}